
.buttons{
  width:12vw;
  height:100vh;
  position:relative;
  /*background-color: red;*/
}

.buttons .empty{
  position:relative;
  height:20%;
}
.buttons .btnbox{
  position:relative;
  height:13%;
}

.btn {
  height:8vh;
  width:10vw;
  padding: 0px;
  position: absolute;
  text-decoration: none;
  background: white;
  border-bottom:1px solid black;
  border-top:1px solid black;
  border-right:1px solid black;
  color: black;
  font-weight: bold;

  display:flex; 
  flex-direction: row;
  
  line-height: 8vh;
  text-align:left;
}
.btn .btnname{
  height:100%;
  width:80%;
}
.btn .btncolor{
  height:100%;
  width:20%;
  background-color: green;
}

.btn:hover {
  transform-origin: 0% 50%;
  transform:scale(1.1);
}



.selectedbtn{
  height:10vh;
  width:12vw;
  padding: 0px;
  position: absolute;
  text-decoration: none;
  background: #e0ffff;
  border-bottom:1px solid black;
  border-top:1px solid black;
  border-right:1px solid black;
  color: black;
  font-weight: bold;

  display:flex; 
  flex-direction: row;
  
  line-height: 10vh;
  text-align:left;
}

.selectedbtn .btnname{
  height:100%;
  width:80%;
}
.selectedbtn .btncolor{
  height:100%;
  width:20%;
  background-color: green;
}
.container{
  display:flex; 
  flex-direction: row;
}
.main{
  justify-content: space-between;
  width:88vw;
  height:100vh;
  /*background-color: red;*/
  position:relative;
  /*background-image:url("/character-A-1.png");*/
  background-size: 80vw;
  background-position:-40% 5%;
  background-repeat: no-repeat;
}
.relpic{
  position:absolute;
  width:120px;
  height:180px;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
}
.relpic:hover{
  scale:calc(1.1);

}
#relpic1{
  left:20%;
  top:30%;
  overflow: hidden;
  background-image: url("/Rel_1.png");
  background-repeat: no-repeat;
  background-size: contain;
}


.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}
#Modal1{
  display: none;
}

.modalcontent {
  background-color: #f4f4f4;
  margin: 10% auto;
  width: 70%;
  height:70%;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.17);
  animation-name: modalopen;
  animation-duration: 1s;
}

@keyframes modalopen {
  from {opacity: 0}
  to {opacity: 1}
}

.modalheader h1 {
  margin: 1rem 0;
}

.modalheader {
  background: #f4f4f4;
  height:10%;
  padding: 3px 15px;
  text-align: right;
}

.modalClose {
  font-size: 2rem;
}

.modalClose:hover {
  cursor: pointer;
}

.modalbody{
  display:flex;
  flex-direction: row-reverse ;
  width:100%;
  height:90%;
  color: black;
}
.modalpic{
    width:35%;
    background-image: url("/chara1_profile.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.modalline{
    margin:10px 0px 30px 20px;
    width:1px;
    background-color: black;
}
.modaltext{
    width: 60%;
    height:100%;
}